/* Responsive CSS */

@media (min-width:768px){

}

@media (min-width:1024px){

}

/* ========================= */
/* HERO RESPONSIVE */
/* ========================= */

@media(min-width:768px){

.hero-buttons{

flex-direction:row;

justify-content:center;

}

.btn{

width:220px;

}

}

@media(min-width:1100px){

.hero{

padding:90px 0;

}

.hero-wrapper{

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:80px;

}

.hero-content{

text-align:left;

}

.hero-buttons{

justify-content:flex-start;

}

.hero h1{

font-size:4.4rem;

}

.hero p{

max-width:520px;

}

.hero-image{

padding-left:30px;

}

}

/* ========================= */
/* FEATURE STRIP */
/* ========================= */

@media (min-width:992px){

.feature-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(min-width:768px){

.product-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(min-width:1200px){

.product-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(min-width:992px){

.signature-grid{

grid-template-columns:2fr 1fr;

}

.signature-card.large{

grid-row:span 2;

height:100%;

}

}

@media(min-width:768px){

.best-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(min-width:1200px){

.best-grid{

grid-template-columns:repeat(4,1fr);

}

}

@media(min-width:992px){

.customize-wrapper{

grid-template-columns:1fr 1fr;

gap:80px;

}

}

@media(min-width:992px){

.mobile-menu{

display:none;

}

.menu-overlay{

display:none;

}

}

@media(min-width:768px){

.why-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(min-width:1200px){

.why-grid{

grid-template-columns:repeat(4,1fr);

}

}